---
import Layout from "../../layouts/Layout.astro";

const articles = await Astro.glob("./*.mdx");
---

<Layout
  title="Blogg // mandaljazz 2024"
  description="Tilfeldige skriblerier fra gjengen i mandaljazz"
>
  <main class="px-4 py-24 sm:px-6 sm:py-40 md:px-8 lg:px-16 xl:px-32">
    <section class="mx-auto max-w-3xl space-y-24">
      <h1 class="text-5xl md:text-7xl">Jazzblogg</h1>
      <ul
        role="list"
        class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3"
      >
        {
          articles
            .filter(({ frontmatter: { hide } }) => !hide)
            .map((article) => {
              const {
                frontmatter: { title, ingress, image },
              } = article;
              return (
                <li
                  class="h-56 rounded transition hover:scale-105 hover:shadow-lg"
                  style={`background-image: url('${image}');`}
                >
                  <a
                    href={`${article.url}`}
                    class="relative flex h-full w-full flex-col justify-end"
                  >
                    <div class="space-y-4 bg-chalk-white p-4">
                      <h2>{title}</h2>
                      <p>{ingress}</p>
                    </div>
                  </a>
                </li>
              );
            })
        }
      </ul>
    </section>
  </main>
</Layout>
