---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="Blogg // mandaljazz 2024"
  description="Tilfeldige skriblerier fra gjengen i mandaljazz"
>
  <main>
    <h1>Bloggen</h1>
  </main>
</Layout>
