---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
---

<Layout title="Blogg | Mandaljazz 2023">
  <main>
    <h1>Bloggen</h1>
    <ul role="list" class="grid-cols-3">
      <Card href="/blogg/bare-litt-info" title="Første blogginnlegg" />
      <Card href="/blogg/bare-litt-info" title="Andre blogginnlegg" />
    </ul>
  </main>
</Layout>
