---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const allBlogPosts = await getCollection("blogg");
const articleList = allBlogPosts
  .filter((post) => !post.data.hide)
  .sort((a, b) => b.data.createdAt.getTime() - a.data.createdAt.getTime());
---

<Layout
  title="Blogg // Mandaljazz"
  description="Tilfeldige skriblerier fra gjengen i Mandaljazz"
>
  <main class="px-4 py-24 sm:px-12 sm:py-40 md:px-24 lg:px-32">
    <div class="mx-auto max-w-5xl space-y-16">
      <h1 class="text-5xl md:text-7xl">Jazzblogg</h1>
      <ul
        role="list"
        class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3"
      >
        {
          articleList.map((article) => {
              const {
                data: { title, ingress, image },
                slug,
              } = article;
              return (
                <li
                  class="h-56 rounded transition hover:scale-105 hover:shadow-lg"
                  style={`background-image: url('${image}');`}
                >
                  <a
                    href={`/blogg/${slug}`}
                    class="relative flex h-full w-full flex-col justify-end"
                  >
                    <div class="space-y-4 bg-chalk-white p-4">
                      <h2>{title}</h2>
                      {ingress && <p>{ingress}</p>}
                    </div>
                  </a>
                </li>
              );
            })
        }
      </ul>
    </div>
  </main>
</Layout>
