@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
}

body {
  letter-spacing: 0.05em;
  hyphenate-character: "-";
}

::selection {
  background-color: theme("colors.pink");
  color: theme("colors.black");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: theme("fontFamily.display");
  font-weight: 600;
}

.link {
  background: linear-gradient(
    to top,
    theme("colors.light-green") 80%,
    transparent 80%
  );
  cursor: pointer;
  transform-style: preserve-3d;
  transition:
    background-position 0.2s ease,
    color 0.2s ease;
  background-position: 0% 14%;
  background-size: 100% 1200%;
}
.link:not(.line-through) {
  text-decoration: none;
}
.link.hide-initial-underline {
  background-position: 0% 0%;
}
.link:hover {
  background-position: 0 22%;
  color: theme("colors.white");
}
.link.active {
  background-position: 0 22%;
  color: theme("colors.white");
}

.bg-grainy-dark-blue-gradient {
  background:
    linear-gradient(
      120deg,
      theme("colors.dark-blue / 50%"),
      theme("colors.dark-blue") 40%
    ),
    url("/profil/noise.svg");
  background-blend-mode: normal;
}
.bg-grainy {
  background-image: url("/profil/noise.svg");
  background-blend-mode: overlay;
}

@layer utilities {
  .animate-pause {
    animation-play-state: paused;
  }
}
