---
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="404 // mandaljazz 2024"
  description="Vi fant ikke siden du leita etter :("
>
  <main class="px-4 py-24 sm:px-12 sm:py-40 md:px-24 lg:px-32">
    <div class="mx-auto max-w-5xl space-y-16">
      <h1 class="text-5xl md:text-7xl">404 // Fant ikke siden</h1>
      <p>Det var leit.</p>
      <p>
        <Link href="/" title="mandaljazz 2024">Ta meg tilbake til forsiden</Link
        >.
      </p>
    </div>
  </main>
</Layout>
