---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
import { formatDate, formatTime } from "../utils/date";
---

<Layout
  title="404 // mandaljazz 2023"
  description="Vi fant ikke siden du leita etter :("
>
  <main class="px-4 sm:px-12 md:px-24 lg:px-32 py-12 sm:py-24">
    <div class="mx-auto max-w-5xl space-y-16">
      <h1 class="font-display text-5xl md:text-7xl">404 // Fant ikke siden</h1>
      <p>
        Det var leit. <Link href="/" title="mandaljazz 2023">
          Ta meg tilbake til forsiden
        </Link>.
      </p>
    </div>
  </main>
</Layout>
