---
import Link from "../components/Link.astro";
import BuyTicketsButton from "../components/BuyTicketsButton.astro";
import Lottie from "../components/Lottie.astro";
import TitleWithHand from "../components/TitleWithHand.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/tikkio-overrides.css";
---

<Layout
  title="Billetter // mandaljazz 2024"
  description="Kjøp billetter til mandaljazz 2024"
>
  <main class="px-4 sm:px-6 md:px-8 lg:px-16 xl:px-32 py-24 sm:py-40">
    <div class="max-w-5xl mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-5 gap-4 items-end">
        <div class="md:col-span-3 space-y-8">
          <h1 class="font-display text-5xl md:text-7xl">Billetter</h1>

          <article class="prose">
            <p>
              mandaljazz tilbyr enkeltbilletter, dagspass og festivalpass til
              publikum.
            </p>
            <p>Festivalpass er det nå mulig å kjøpe.</p>
            <p>
              Enkeltbilletter kommer for salg etter hvert. Følg med på <Link
                href="https://www.facebook.com/mandaljazz"
                title="mandaljazz sin Facebook-side"
                external
              >
                Facebook
              </Link> og
              <span class="inline-block">
                <Link
                  href="https://www.instagram.com/mandaljazz"
                  title="mandaljazz sin Instagram-konto"
                  external
                >
                  Instagram
                </Link>.
              </span>
            </p>

            <TitleWithHand title="Festivalpass og dagspass" type="dark-blue" />
            <p>Gir inngang til alle konserter.</p>

            <TitleWithHand title="Enkeltbilletter" type="blue" flip />

            <p>Gir inngang til den aktuelle konserten.</p>

            <TitleWithHand
              title="Studenter og ungdom under 26 år"
              type="dark-blue"
            />
            <p>
              mandaljazz tilbyr rabatterte billetter til studenter og ungdom
              under 26 år. Studenter inkluderer også elever på videregående,
              ungdoms- og barneskoler.
            </p>

            <TitleWithHand title="Barnekonsert" type="blue" flip />
            <p>
              Barnekonserten er gratis for alle, både barn og voksne! Men husk å
              reservere en gratisbillett.
            </p>

            <TitleWithHand
              title="Funksjonshemmede med ledsagerbevis"
              type="dark-blue"
            />
            <p>
              Innehavere av ledsagerbevis for funksjonshemmede gis gratis
              billett til sin ledsager.
            </p>

            <TitleWithHand title="Annen info" type="blue" flip />
            <p>
              Ved konserter i Buen er det begrenset kapasitet. Innehavere av
              dags- og festivalpass bes møte tidlig for å sikre seg plass. Alle
              konserter starter presis.
            </p>
          </article>
        </div>
        <div
          class="sticky bottom-4 md:bottom-0 w-full h-fit md:col-span-2 space-y-4"
        >
          <BuyTicketsButton class="w-fit mx-auto" />
          <Lottie
            name="jazzlaug-med-armer-ut-av-hodet"
            class="hidden md:block"
          />
        </div>
        <Lottie name="jazzlaug-med-armer-ut-av-hodet" class="block md:hidden" />
      </div>
    </div>
  </main>
</Layout>
