---
import { Image } from "astro:assets";

import BuyTicketsButton from "../components/BuyTicketsButton.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/tikkio-overrides.css";
import { imagePathToSrc } from "../utils/images";
---

<Layout
  title="Billetter // Mandaljazz 2025"
  description="Kjøp billetter til Mandaljazz 2025"
>
  <main class="px-4 py-24 sm:px-6 sm:py-40 md:px-8 lg:px-16 xl:px-32">
    <div class="mx-auto max-w-5xl">
      <div class="grid grid-cols-1 items-end gap-4 md:grid-cols-5">
        <div class="space-y-8 md:col-span-3">
          <h1 class="text-5xl md:text-7xl">Billetter</h1>

          <p>
            Mandaljazz tilbyr enkeltbilletter, dagspass og festivalpass til
            publikum.
          </p>

          <h2 class="text-1xl pt-8 md:text-3xl">Festivalpass og dagspass</h2>
          <p>Gir inngang til alle konserter.</p>

          <h2 class="text-1xl pt-8 md:text-3xl">Enkeltbilletter</h2>
          <p>Gir inngang til den aktuelle konserten.</p>

          <h2 class="text-1xl pt-8 md:text-3xl">
            Studenter og ungdom under 26 år
          </h2>
          <p>
            Mandaljazz tilbyr rabatterte billetter til studenter og ungdom under
            26 år. Studenter inkluderer også elever på videregående, ungdoms- og
            barneskoler.
          </p>

          <h2 class="text-1xl pt-8 md:text-3xl">Barnekonsert</h2>
          <p>
            Barnekonserten er gratis for alle, både barn og voksne! Men husk å
            reservere en gratisbillett.
          </p>

          <h2 class="text-1xl pt-8 md:text-3xl">
            Funksjonshemmede med ledsagerbevis
          </h2>
          <p>
            Innehavere av ledsagerbevis for funksjonshemmede gis gratis billett
            til sin ledsager.
          </p>
        </div>
        <div
          class="sticky bottom-4 flex h-fit flex-col items-end gap-3 space-y-2 md:bottom-8 md:col-span-2"
        >
          <!-- <Image
            src={imagePathToSrc("/src/images/profil/frimerke-sykkeltur.png")}
            class="hidden w-48 md:block"
            alt="Frimerke sykkeltur"
          /> -->
          <!-- <BuyTicketsButton class="mx-auto w-fit md:mx-0 md:w-48" /> -->
        </div>
        <!-- <Image
          src={imagePathToSrc("/src/images/profil/frimerke-sykkeltur.png")}
          class="mx-auto block w-full max-w-sm md:hidden"
          alt="Frimerke sykkeltur"
        /> -->
      </div>
    </div>
  </main>
</Layout>
