---
import Accordion from "../components/Accordion.astro";
import Blockquote from "../components/Blockquote.astro";
import ImageWithCaption from "../components/ImageWithCaption.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/tikkio-overrides.css";

const jobs = [
  {
    title: "Artistvertskap",
    description:
      "Som artistvert er du blant annet med på å gi artistene en hyggelig opplevelse på festivalen. Denne gjengen tar i mot artistene og sørger for at de får mat, drikke og svar på det de lurer på.",
  },
  {
    title: "Bar og servering",
    image: "/frivillig/agathe-tapper-ol.jpg",
    description:
      "Her betjener du baren i teltet eller serverer mat på festivalområdet. Som bartender får du den beste utsikten til konsertene!",
  },
  {
    title: "Billett og merch",
    description:
      "Her får du et hyggelig møte med alle gjestene på festivalen, når de skal veksle inn sin billett i et armbånd eller stempel. Du selger også blant annet t-skjorter og handlenett.",
    image: "/frivillig/merch-slag-subtilt.jpg",
  },
  {
    title: "Foto/film",
    image: "/frivillig/person-blaser-sapeboble-saksofonist-i-bakgrunnen.jpg",
    description:
      "Både før og under festivalen trenger vi fotografer og filmfotografer. Det er ønskelig med noe erfaring.",
  },
  {
    title: "Kokk",
    image: "/frivillig/tonje-lager-crepe.jpg",
    description:
      "Liker du å lage mat? Da kan du bli med å lage maten som serveres under festivalen, til både publikum, frivillige og artister. I matgruppa er det alltid veldig god stemning!",
  },
  {
    title: "Forpleining og hygge",
    image: "/frivillig/morgenmote-folk-rekker-opp-handa.jpg",
    description:
      "Denne gjengen sørger for at det er hyggelig å være frivillig. Det innebærer å lage mat til de frivillige, særlig i sjaueuka før festivalen, og arrangere hyggelige sosiale aktiviteter for de frivillige!",
  },
  {
    title: "Sjauing og område",
    description:
      "Denne gjengen har ansvar for å sette opp og rigge ned festivalteltet, gjøre festivalområdet fint, og rigge klart til festival. Bli med enten du er glad i løfte og bære, snekre, har estetisk sans, eller bare ønsker å være med i en hyggelig og sosial gjeng! Det er særlig behov for folk som har mulighet til å være med i uken før festivalen.",
  },
  {
    title: "Teknikk",
    description:
      "Som teknisk sjauer jobber man på scenen med rigging under lydprøver og konserter. Noe teknisk erfaring er ønskelig.",
  },
];
---

<Layout
  title="Frivillig // mandaljazz 2023"
  description="Ja, bli frivillig på mandaljazz 2023 du også!"
>
  <main
    class="px-4 sm:px-6 md:px-8 lg:px-16 xl:px-32 py-12 sm:py-24"
  >
    <div class="max-w-5xl mx-auto space-y-8">
      <h1 class="font-display text-5xl">Frivillig</h1>
      <video autoplay playsinline muted class="w-full" loop>
        <source src="/promo.mp4" type="video/mp4" />
        Beklager, her skulle det egentlig vært en video, men nettleseren din støtter
        ikke innebygde videoer :(
      </video>
      <h2 class="font-display text-3xl">
        Vi vil gjerne ha deg med som frivillig på Mandaljazz!
      </h2>
      <p>
        Som frivillig på Mandaljazz får du oppleve massevis av god musikk og mye
        moro sammen med en herlig gjeng sosiale, hyggelige og åpne folk. På
        Mandaljazz er alle velkommen, og vi har frivilligroller som kan passe de
        fleste – alt fra bartender til bygging av telt eller ta imot artistene
        som kommer.
      </p>
      <p>
        Vi er på utkikk etter engasjerte mennesker som ønsker å være med på å
        arrangere festivalen i 2023. Her kan du lese litt om de ulike gruppene
        du kan være med i som frivillig.
      </p>
      <div class="space-y-2">
        {
          jobs.map(({ title, description, image }) => (
            <Accordion title={title}>
              <>
                <p>{description}</p>
                {image && <img src={image} class="w-full" />}
              </>
            </Accordion>
          ))
        }
      </div>
      <ImageWithCaption
        src="/frivillig/fellesbilde-2022.jpg"
        caption={`Frivilliggjengen ${2022}`}
      />
      <Blockquote author="Håvard (bar og servering)">
        <p>
          Hadde det ikke vært for at man måtte okkupere den beste plassen i
          teltet, høre på det siste skriket innen jazz, omgås sprudlende
          fornøyde festivaldeltakere, catche opp med nye og gamle bekjente,
          servere de mest tålmodige av gjester, og å jobbe omringet av de mest
          fantastiske og entusiastiske folkene Norge har å by på – ja, så hadde
          det faktisk vært helt greit å jobbe i baren; det er nemlig ganske
          chill å tappe øl!
        </p>
      </Blockquote>
      <ImageWithCaption
        src="/frivillig/fellesbilde-2019.jpg"
        caption={`Frivilliggjengen ${2019}`}
      />
      <Blockquote author="Marte (sjau og område)">
        <p>
          Sjauen er en blanding av løfting og bæring og svette og snekring og en
          heil haug med dårlige vitser. På en bra måte! Derfor er sjau bare
          dritgøy.
        </p>
      </Blockquote>
      <ImageWithCaption
        src="/frivillig/fellesbilde-2018.jpg"
        caption={`Frivilliggjengen ${2018}`}
      />
      <Blockquote author="Helga (billett og merch)">
        <p>
          Som frivillig i billettcrewet blir du med i en gjeng med mye moro og
          godt samhold. Du blir kjent med masse kjekke folk og du kjenner at du
          bidrar med noe positivt for byen og nærmiljøet.
        </p>
        <p>
          Vi har mange forskjellige og gøyale oppgaver og ingen vakt er lik!
        </p>
      </Blockquote>
      <ImageWithCaption
        src="/frivillig/fellesbilde-2016.jpg"
        caption={`Frivilliggjengen ${2016}`}
      />
      <Blockquote author="Mari Marie (transport)">
        <p>
          For en mulighet til å bli kjent med masse forskjellige folk på
          kjøretur!
        </p>
        <p>
          Det å få tid i en bil med interessante, rare, sære, kule,
          kunstneriske, motiverende og hyggelige musikere er jo ikke noe man får
          hver dag. Og på veien for å hente artister kan du få litt pustetid og
          blæste noe musikk!
        </p>
        <p>
          Kjøretidene er ofte veldig greie som gjør at du er ledig under mange
          av konsertene. Og veldig mye mer chill fysisk hvis du ikke er så fan
          av å bære tungt eller stå lenge.
        </p>
      </Blockquote>
      <ImageWithCaption
        src="/frivillig/fellesbilde-2014.jpg"
        caption={`Frivilliggjengen ${2014}`}
      />
    </div>
  </main>
</Layout>
