---
import ImageWithCaption from "../components/ImageWithCaption.astro";
import Link from "../components/Link.astro";
import VolunteerForm from "../components/VolunteerForm.astro";
import Layout from "../layouts/Layout.astro";

const groups = await Astro.glob("../content/frivillig/*.mdx");
---

<Layout
  title="Frivillig // mandaljazz 2024"
  description="Ja, bli frivillig på mandaljazz 2024 du også!"
>
  <main class="px-4 sm:px-6 md:px-8 lg:px-16 xl:px-32 py-24 sm:py-40">
    <div class="max-w-5xl mx-auto space-y-24">
      <div class="space-y-8">
        <h1 class="font-display text-5xl md:text-7xl">Frivillig</h1>
        <p>Vi vil gjerne ha deg med som frivillig på mandaljazz!</p>
      </div>
      <div
        class="grid md:grid-cols-5 gap-8 md:gap-x-16 md:gap-y-20 items-center"
      >
        <div class="md:col-span-2 space-y-4">
          <p>
            Som frivillig på mandaljazz får du oppleve massevis av god musikk og
            mye moro sammen med en herlig gjeng sosiale, hyggelige og åpne folk.
            På mandaljazz er alle velkommen, og vi har frivilligroller som kan
            passe de fleste – alt fra bartender til bygging av telt eller ta
            imot artistene som kommer.
          </p>
        </div>
        <video
          autoplay
          playsinline
          muted
          class="md:col-span-3 rounded-lg shadow-lg"
          loop
        >
          <source
            src="/video/oppsummeringsfilm-2023-compressed.mp4"
            type="video/mp4"
          />
          Beklager, her skulle det egentlig vært en video, men nettleseren din støtter
          ikke innebygde videoer :(
        </video>
        <div
          class="row-start-4 md:row-start-auto md:col-span-3 rounded-lg shadow-lg"
        >
          <ImageWithCaption
            src="/frivillig/frivillige-drikker-ol-og-koser-seg.jpg"
            caption={`Frivillige etter endt arbeid`}
          />
        </div>
        <div class="md:col-span-2 space-y-4">
          <p>
            Vi er på utkikk etter engasjerte mennesker som ønsker å være med på
            å arrangere festivalen i 2024. Her kan du lese litt om de ulike
            gruppene du kan være med i som frivillig.
          </p>
        </div>
      </div>
      <!-- <Link href="#registreringsskjema" title="Til registreingsskjema">
        Til registreringsskjema
      </Link> -->
      <div class="space-y-8">
        <h2 class="font-display text-2xl md:text-3xl">
          Les litt om de ulike gruppene
        </h2>
        <div class="md:grid md:grid-cols-5 gap-2">
          <div class="sticky top-[58px] z-10 md:col-span-1">
            <ul
              class="sticky top-[58px] flex flex-row md:flex-col gap-4 items-center md:items-start bg-stone-100 py-3 overflow-x-auto"
            >
              {
                groups.map((group) => {
                  const {
                    frontmatter: { title, id },
                  } = group;
                  return (
                    <li class="whitespace-nowrap">
                      <Link href={`#${id}`} title={title}>
                        {title}
                      </Link>
                    </li>
                  );
                })
              }
            </ul>
          </div>
          <div class="md:col-span-4 space-y-12">
            {
              groups.map((group) => {
                const { Content } = group;
                return (
                  <div class="space-y-16">
                    <Content />
                    <hr />
                  </div>
                );
              })
            }
          </div>
        </div>
      </div>
      <p class="mx-auto max-w-2xl">
        Puh, det var mye greier! Men hvis du har lest helt ned hit, så er du
        kanskje interessert i å bli med som frivillig på mandaljazz? Det blir
        mulig å melde seg som frivillig i løpet av våren 2024 via et skjema, men
        hvis du ikke klarer å vente kan du sende en e-post til <Link
          href="mailto:eirik@mandaljazz.no"
          title="eirik@mandaljazz.no"
          external
        >
          eirik@mandaljazz.no
        </Link>!
      </p>
      <!-- <div class="invisible -translate-y-16" id="registreringsskjema"></div>
      <h2 class="font-display text-3xl">Registrering</h2>
      <VolunteerForm /> -->
      <div class="space-y-8">
        <h2 class="font-display text-3xl">Tidligere frivilliggjenger</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <ImageWithCaption
            src="/frivillig/fellesbilde-2023.jpg"
            caption={`Frivilliggjengen ${2023}`}
          />
          <ImageWithCaption
            src="/frivillig/fellesbilde-2022.jpg"
            caption={`Frivilliggjengen ${2022}`}
          />
          <ImageWithCaption
            src="/frivillig/fellesbilde-2019.jpg"
            caption={`Frivilliggjengen ${2019}`}
          />

          <ImageWithCaption
            src="/frivillig/fellesbilde-2018.jpg"
            caption={`Frivilliggjengen ${2018}`}
          />

          <ImageWithCaption
            src="/frivillig/fellesbilde-2016.jpg"
            caption={`Frivilliggjengen ${2016}`}
          />

          <ImageWithCaption
            src="/frivillig/fellesbilde-2014.jpg"
            caption={`Frivilliggjengen ${2014}`}
          />
        </div>
      </div>
    </div>
  </main>
</Layout>
