---
import HistoryEntry from "../components/HistoryEntry.astro";
import Link from "../components/Link.astro";
import RainbowDivider from "../components/RainbowDivider.astro";
import Layout from "../layouts/Layout.astro";

const years = [
  "2024",
  "2023",
  "2022",
  "2021",
  "2020",
  "2019",
  "2018",
  "2017",
  "2016",
  "2015",
  "2014",
];
---

<Layout
  title="Historikk // mandaljazz 2025"
  description="Tidligere artister på mandaljazz, fra 2014 til 2025"
>
  <main class="px-4 py-24 sm:px-6 sm:py-40 md:px-8 lg:px-16 xl:px-32">
    <div class="mx-auto max-w-5xl space-y-8">
      <h1 class="text-5xl md:text-7xl">Historikk</h1>
      <p>Tidligere artister på mandaljazz.</p>
      <div
        class="sticky top-[48px] z-10 -mx-4 md:col-span-2 lg:top-[56px] lg:col-span-2"
      >
        <ul
          class="scrollbar-hidden flex flex-row items-center gap-4 overflow-x-auto bg-beige px-4 py-3"
        >
          {
            years.map((year) => (
              <li>
                <Link href={`#mandaljazz-${year}`} title={year}>
                  {year}
                </Link>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="space-y-24">
        <HistoryEntry
          id="mandaljazz-2024"
          year="2024"
          spotifyUrl="https://open.spotify.com/playlist/0Yu3man6TSrYAHi7VntNjT?si=d695cdc021a749e3"
          image={"/src/images/poster/2024-alt.png"}
          flickrAlbumId="72177720321501602"
        >
          <li>Bixiga 70</li>
          <li>Vs DooM</li>
          <li>Superspreder</li>
          <li>Ævestaden</li>
          <li>Cosmic Swing Orchestra</li>
          <li>Andreas Røysum Ensemble</li>
          <li>M. Rexen</li>
          <li>I Like to Sleep</li>
          <li>Harald Lassen</li>
        </HistoryEntry>

        <RainbowDivider />

        <HistoryEntry
          id="mandaljazz-2023"
          year="2023"
          spotifyUrl="https://open.spotify.com/playlist/63wOAJl5BH7l1TJ99aUSFd?si=e9b38daf65884e70"
          image={"/src/images/poster/2023.png"}
          flickrAlbumId="72177720321498905"
        >
          <li>Kemaca Kinetic + Mathias Eick</li>
          <li>D'Sound</li>
          <li>Mona Krogstad: <em>Virgo Sun</em></li>
          <li>Marianna Sangita &amp; TJO</li>
          <li>Bushman'S Revenge</li>
          <li>Heiða Karine Jóhannesdóttir Mobeck</li>
          <li>Ye Krik</li>
          <li>Sørnorsk Ungdomsstorband</li>
          <li>Anja Lauvdal</li>
          <li>Veslemøy Narvesen Extension</li>
          <li>Paal Nilssen-Love Circus</li>
          <li>Alogte Oho & His Sounds of Joy</li>
        </HistoryEntry>

        <RainbowDivider />

        <HistoryEntry
          id="mandaljazz-2022"
          year="2022"
          spotifyUrl="https://open.spotify.com/playlist/7bRe3n4p7ki3482DA7paLg?si=13350e503bdd4eeb"
          image={"/src/images/poster/2022.png"}
          flickrAlbumId="72177720320935340"
        >
          <li>Jenny Hval</li>
          <li>
            Ola Kvernberg: <em>Steamdome</em>
          </li>
          <li>Stein Austrud</li>
          <li>Marilyn Mazur – Shamania</li>
          <li>The KutiMangoes</li>
          <li>Fra Det Onde</li>
          <li>Akmee</li>
          <li>Impro Fauna</li>
          <li>The Big YES!</li>
          <li>Marthe Lea Band</li>
          <li>Maridalen</li>
          <li>Schemes</li>
          <li>¡BangBang Watergun!</li>
          <li>365 dager i et år</li>
          <li>
            SNUS (Sørnorsk Ungdomsstorband) vs. BUJO (Buskerud
            ungdomsjazzorkester)
          </li>
        </HistoryEntry>

        <RainbowDivider />

        <HistoryEntry
          id="mandaljazz-2021"
          year="2021"
          spotifyUrl="https://open.spotify.com/playlist/0WidFIgWoilkjFxsbyrKnW?si=c7986c7dae6046a3"
          image={"/src/images/poster/2021.png"}
          flickrAlbumId="72177720320952468"
        >
          <li>Film og samtale: Polyfonatura</li>
          <li>Bech, Lauvdal + Övinge kvartett</li>
          <li>Needlepoint</li>
          <li>Helga Myhr</li>
          <li>Aila Trio</li>
          <li>LILJA</li>
          <li>TJO &amp; GURLS</li>
          <li>Sørnorsk Ungdomsstorband (SNUS)</li>
          <li>«Gjøkungen»</li>
          <li>Jazzimprotimen</li>
          <li>Kjetil Jerve: lesekonsert</li>
          <li>Maria Kannegaard Trio</li>
          <li>JUNO</li>
          <li>Valkyrien Allstars</li>
        </HistoryEntry>

        <RainbowDivider />

        <HistoryEntry
          id="mandaljazz-2020"
          year="2020"
          spotifyUrl="https://open.spotify.com/playlist/3bsaVvMLXtqBQrtVUnpMDc?si=0154d21c24cc48a7"
          image={"/src/images/poster/2020.jpg"}
          flickrAlbumId="72177720320935346"
        >
          <li>Fredrik Høyer + Bendik Baksaas</li>
          <li>
            Hedvig Mollestad: <em>Ekhidna</em>
          </li>
          <li>Charlotte Dos Santos</li>
          <li>Mall Girl</li>
          <li>Skarbø Skulekorps</li>
          <li>Hildegunn Øiseths Panda</li>
          <li>Andreas Røysum Ensemble</li>
        </HistoryEntry>

        <RainbowDivider />

        <HistoryEntry
          id="mandaljazz-2019"
          year="2019"
          spotifyUrl="https://open.spotify.com/playlist/1bJMg11qTaFXos3AhXcDGa?si=1422da49d6494b35"
          image={"/src/images/poster/2019.png"}
          flickrAlbumId="72177720320934095"
        >
          <li>Fieh</li>
          <li>The MaXx + Trondheim Jazzorkester</li>
          <li>Jimi Tenor</li>
          <li>Bendik Giske</li>
          <li>Mette Rasmussen kvintett</li>
          <li>Jeppe Zeeberg</li>
          <li>Horse Orchestra</li>
          <li>Majāz</li>
          <li>Kresten Osgood Quintet</li>
          <li>Snöleoparden</li>
          <li>Erik Kimestad Pedersen</li>
          <li>Mofjell/Kjær/Flaten/Egetoft</li>
          <li>Kjær/Narvesen</li>
          <li>Rasmussen/Rud</li>
          <li>Frøy Aagre</li>
          <li>«Geitekillingen som kunne telle til ti»</li>
          <li>Bomfunk Mimosa</li>
          <li>Erlend Wichne</li>
          <li>Johannes Breidenbach (foredrag)</li>
          <li>Cool Tour</li>
          <li>Sørnorsk Ungdomsstorband (SNUS)</li>
        </HistoryEntry>

        <RainbowDivider />

        <HistoryEntry
          id="mandaljazz-2018"
          year="2018"
          spotifyUrl="https://open.spotify.com/playlist/52IPREVc8kXgKkUgF3uhSJ?si=4181913b19b34fdf"
          image={"/src/images/poster/2018.png"}
          flickrAlbumId="72177720320933915"
        >
          <li>Goran Kajfes Subtropic Arkestra</li>
          <li>Nils Økland Band</li>
          <li>Tortusa / Breistein + Erlend Wichne</li>
          <li>M. Rexen's United Kingdoms</li>
          <li>Pom Poko</li>
          <li>Hegge</li>
          <li>Natalie Sandtorv</li>
          <li>Virgina Genta + Hans P. Kjorstad + Veslemøy Narvesen</li>
          <li>Henriette Eilertsen + Davide Vanzan</li>
          <li>One Out of Town + Brian Sandstrom</li>
          <li>Meg og Kammeraten Min</li>
          <li>Jooklo Duo</li>
          <li>Brian Sandstrom</li>
          <li>Sandstrom + Kimestad</li>
          <li>Folkevogn</li>
          <li>Dark Roast</li>
          <li>Mandal Storband</li>
          <li>Bomfunk Mimosa</li>
        </HistoryEntry>

        <RainbowDivider />

        <HistoryEntry
          id="mandaljazz-2017"
          year="2017"
          image={"/src/images/poster/2017.jpg"}
          flickrAlbumId="72177720320933405"
        >
          <li>Dele Sosimi & Nye Lindesnes Afrobeatensemble</li>
          <li>Knut Riisnæs Kvartett</li>
          <li>
            Skrap + Trondheim Jazzorkester: <em>Antropocen</em>
          </li>
          <li>
            Ola Kvernberg: <em>Steamdome</em>
          </li>
          <li>Stian Westerhus</li>
          <li>Pixel</li>
          <li>Rohey</li>
          <li>Christian Wallumrød Ensemble</li>
          <li>Torben Snekkestad (undervannskonsert)</li>
          <li>Kim Myhr</li>
          <li>Emile the Duke</li>
          <li>Natalie Sandtorv + Hans Hulbækmo</li>
          <li>Hästi + Frode Gjerstad</li>
          <li>Signe Emmeluth + Karl Bjorå</li>
          <li>Juno</li>
          <li>Talentutviklingsprogrammet v/UiA</li>
          <li>
            Lekerommet: <em>Kyllingen som ikke kunne synge</em>
          </li>
          <li>
            <RainbowDivider class="my-4 w-full" />
          </li>
          <li>
            <Link
              href="https://mandaljazz.github.io/jazzatlas/"
              title="Jazzkartet 2017"
            >
              Jazzkartet 2017
            </Link>
          </li>
        </HistoryEntry>

        <RainbowDivider />

        <HistoryEntry
          id="mandaljazz-2016"
          year="2016"
          image={"/src/images/poster/2016.jpg"}
          flickrAlbumId="72177720320933247"
        >
          <li>Sun Ra Arkestra</li>
          <li>Scheen Jazzorkester</li>
          <li>Susanna</li>
          <li>Band of Gold</li>
          <li>Moskus + Nils Økland</li>
          <li>Megalodon Collective</li>
          <li>Horse Orchestra</li>
          <li>Den Magnetiske Ørn</li>
          <li>Hästi Trio</li>
          <li>Sørnorsk Ungdomsstorband (SNUS)</li>
          <li>Klangbein</li>
          <li>Benjamin Dybesland Band</li>
        </HistoryEntry>

        <RainbowDivider />

        <HistoryEntry
          id="mandaljazz-2015"
          year="2015"
          image={"/src/images/poster/2015.jpg"}
          flickrAlbumId="72177720320931490"
        >
          <li>JøKleBa</li>
          <li>Trondheim Jazzorkester</li>
          <li>Elephant9 + Reine Fiske</li>
          <li>Broen</li>
          <li>Bjørn Charles Dreyer @ Uranienborg fjellanlegg</li>
          <li>Albatrosh</li>
          <li>Kristoffer Lo @ Ryvingen Fyr</li>
          <li>Hanna Paulsberg Concept</li>
          <li>Håkon Kornstad</li>
          <li>Dröm</li>
          <li>Mandal Storband</li>
          <li>SKRAP</li>
          <li>Body Rhythm Factory</li>
          <li>
            <RainbowDivider class="my-4 w-full" />
          </li>
          <li>
            <Link
              href="http://jazzesnes.mandaljazz.no/"
              title="Les Jazzesnes avis"
              external
            >
              Les Jazzesnes avis
            </Link>
          </li>
        </HistoryEntry>

        <RainbowDivider />

        <HistoryEntry
          id="mandaljazz-2014"
          year="2014"
          image={"/src/images/poster/2014.jpg"}
          flickrAlbumId="72177720320931090"
        >
          <li>
            Marius Neset: <em>Birds</em>
          </li>
          <li>Ola Kvernberg Trio</li>
          <li>Mathias Eick Quintet</li>
          <li>Polkabjørn og Kleine Heine</li>
          <li>Dr. Kay and his Interstellar Tone Scientists</li>
          <li>Erik Kimestad Kvartett</li>
          <li>Yngve and his Boogie Legs</li>
          <li>
            Jazzfigur: <em>I tråd med musikken</em>
          </li>
          <li>Mandal Storband</li>
          <li>Trygve Rypestøl</li>
          <li>Sarah Evelyn</li>
          <li>Saywhat</li>
          <li>Vice Versa</li>
        </HistoryEntry>
      </div>
    </div>
  </main>
</Layout>

<script>
  // list of elements to be observed
  const targets = document.getElementsByClassName("observed");

  const options = {
    root: null, // null means root is viewport
    rootMargin: "0px",
    threshold: 0.5, // trigger callback when 50% of the element is visible
  };

  function callback(entries, observer) {
    console.log({ document, entries, observer });
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        document.querySelector(".active")?.classList?.remove("active");
        const targetId = entry.target.id; // identify which element is visible in the viewport at 50%
        console.log({ targetId });
        document.querySelector(`[href="#${targetId}"]`).classList.add("active");
      }
    });
  }

  let observer = new IntersectionObserver(callback, options);

  [...targets].forEach((target) => observer.observe(target));
</script>
