---
import partition from "lodash/partition";

import Card from "../components/Card.astro";
import Spotify from "../components/Spotify.astro";
import Layout from "../layouts/Layout.astro";
import PlaceholderCard from "../components/PlaceholderCard.astro";
import Link from "../components/Link.astro";

const artists = await Astro.glob("../pages/artist/*.mdx");
const [upcomingArtists, pastArtists] = partition(artists, (artist) => {
  const {
    frontmatter: { concertStartAt },
  } = artist;

  return new Date(concertStartAt) > new Date();
});

const byOrder = (a, b) => {
  const aOrder = a.frontmatter.order || 0;
  const bOrder = b.frontmatter.order || 0;
  if (aOrder > bOrder) {
    return -1;
  } else if (aOrder < bOrder) {
    return 1;
  } else {
    return 0;
  }
};
---

<Layout title="mandaljazz 2024" description="Jazzfestivalen i Mandal">
  <main
    class="px-4 sm:px-6 md:px-8 lg:px-16 xl:px-32 space-y-24 py-16 sm:pb-32"
  >
    <div class="max-w-5xl mx-auto flex flex-col items-center gap-8">
      <div class="flex flex-col gap-4 items-center w-full mt-8 md:mt-16 relative">
        <img
          src="/profil/logo/tertiary/black.svg"
          class="max-w-[200px] md:max-w-[260px] w-full"
        />
        <h1
          class="-mt-[1px] p-6 text-2xl sm:text-4xl font-display text-center leading-snug bg-dark-blue text-white rounded-xl"
        >
          27.–29. juni 2024
        </h1>
        <h2 class="font-display text-2xl text-center p-6">
          mandaljazz feirer <div class="inline-block skew-y-2 p-2 bg-blue">
            <div class="inline-block -skew-y-2 text-4xl">10 år</div>
          </div>
        </h2>
      </div>
    </div>
    <div class="mx-auto max-w-5xl space-y-4">
      <h3 class="font-display text-3xl">Artister</h3>
      <ul
        role="list"
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6"
      >
        {
          [...upcomingArtists.sort(byOrder), ...pastArtists.sort(byOrder)].map(
            (artist) => {
              const {
                frontmatter: { title, id, hideFromArtistList },
              } = artist;

              if (hideFromArtistList) {
                return null;
              }

              return <Card href={`/artist/${id}`} title={title} id={id} />;
            }
          )
        }
        <!-- <PlaceholderCard title="Kul artist" /> -->
        <!-- <PlaceholderCard title="Hippe greier" /> -->
        <!-- <PlaceholderCard title="Fine ting" /> -->
        <!-- <PlaceholderCard title="Er dét jazz da?" /> -->
      </ul>
    </div>
    <Spotify
      src="https://open.spotify.com/playlist/0Yu3man6TSrYAHi7VntNjT?si=d695cdc021a749e3"
    />
    <div
      class="p-6 md:p-8 bg-blue/30 rounded-xl flex flex-col md:flex-row items-center gap-8"
    >
      <div class="space-y-8">
        <Link
          external
          unstyled
          href="https://cosmopolite.no/program/cosmopolite/2024/april/mandaljazz-10-ar-andreas-roysum-takeover"
          title="mandaljazz 10 år: Andreas Røysum takeover på Cosmopolite 12. april 2024"
          class="group w-40 self-center"
        >
          <img
            src="/cosmopolite-takeover-2024-kvadratisk-1-1.png"
            alt={"mandaljazz 10 år: Andreas Røysum takeover på Cosmopolite 12. april 2024"}
            class="w-full rounded-xl transition-all group-hover:-rotate-1"
          />
        </Link>
      </div>
      <div class="space-y-4 md:self-center">
        <p>
          Gikk du glipp av den <Link
            href="https://cosmopolite.no/program/cosmopolite/2024/april/mandaljazz-10-ar-andreas-roysum-takeover"
            title="mandaljazz 10 år: Andreas Røysum takeover på Cosmopolite 12. april 2024"
            external
          >
            lille forsmaken av mandaljazz 2024
          </Link> som fant sted på Cosmopolite fredag 12. april? Fortvil ikke! Les
          <Link
            href="https://jazzinorge.no/anmeldelse/mandalitter-og-kosmopolitter/"
            title="Mandaljazz 10-årsjubileum - Cosmopolite 12. april 2024: Mandalitter og kosmopolitter"
            external
          >
            Audun Vingers anmeldelse
          </Link> og bli forført til å få med deg årets festival.
        </p>
        <a
          class={`block w-full sm:w-fit sm:mx-auto py-4 px-4 text-center bg-yellow text-black rounded-lg text-sm md:text-xl duration-500 transition-all shadow-solid -translate-y-1 hover:translate-x-1 hover:-translate-y-2 hover:shadow-solid-hover`}
          href="https://jazzinorge.no/anmeldelse/mandalitter-og-kosmopolitter/"
          title="Mandaljazz 10-årsjubileum - Cosmopolite 12. april 2024: Mandalitter og kosmopolitter"
          rel="noopener nofollow"
          target="_blank">Les «Mandalitter og kosmopolitter»</a
        >
      </div>
    </div>
  </main>
</Layout>

<script>
  document.addEventListener("astro-lottie-loaded", (e) => {
    // Hide Lottie placeholder images when Lottie has loaded
    document.querySelectorAll(".lottie-placeholder").forEach((placeholder) => {
      placeholder.classList.toggle("opacity-0");
    });
  });
</script>
