---
import partition from "lodash/partition";

import BuyTicketsButton from "../components/BuyTicketsButton.astro";
import Card from "../components/Card.astro";
import PlaceholderCard from "../components/PlaceholderCard.astro";
import Spotify from "../components/Spotify.astro";
import Layout from "../layouts/Layout.astro";

const artists = await Astro.glob("../pages/artist/*.mdx");
const [upcomingArtists, pastArtists] = partition(artists, (artist) => {
  const {
    frontmatter: { concertStartAt },
  } = artist;

  return new Date(concertStartAt) > new Date();
});

const byOrder = (a, b) => {
  const aOrder = a.frontmatter.order || 0;
  const bOrder = b.frontmatter.order || 0;
  if (aOrder > bOrder) {
    return -1;
  } else if (aOrder < bOrder) {
    return 1;
  } else {
    return 0;
  }
};
---

<Layout title="mandaljazz 2024" description="Jazzfestivalen i Mandal">
  <main
    class="space-y-24 px-4 py-24 sm:px-12 sm:py-40 sm:pb-32 md:px-24 lg:px-32 xl:px-32"
  >
    <div class="mx-auto flex max-w-5xl flex-col items-center gap-8">
      <div
        class="relative flex w-full flex-col items-center gap-4 md:flex-row lg:mx-auto lg:w-fit"
      >
        <div class="flex flex-col gap-1 lg:gap-4">
          <h2
            class="rounded-xl bg-beige p-6 text-center text-2xl leading-snug text-black sm:text-4xl"
          >
            26.–28. juni 2025
          </h2>
          <BuyTicketsButton class="mx-auto mt-8 w-fit" />
        </div>
      </div>
    </div>
    <div class="mx-auto max-w-5xl space-y-4">
      <h3 class="text-3xl">Artister</h3>
      <ul
        role="list"
        class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3"
      >
        {
          [...upcomingArtists.sort(byOrder), ...pastArtists.sort(byOrder)].map(
            (artist) => {
              const {
                frontmatter: { title, id, hideFromArtistList },
              } = artist;

              if (hideFromArtistList) {
                return null;
              }

              return <Card href={`/artist/${id}`} title={title} id={id} />;
            },
          )
        }
        <PlaceholderCard title="Kul artist" />
        <PlaceholderCard title="Hippe greier" />
        <PlaceholderCard title="Fine ting" />
        <PlaceholderCard title="Serr?! Wow!" />
        <PlaceholderCard title="Er dét jazz da?" />
      </ul>
    </div>
    <!-- <Spotify
      src="https://open.spotify.com/playlist/0Yu3man6TSrYAHi7VntNjT?si=d695cdc021a749e3"
    /> -->
    <!-- <BuyTicketsButton class="mx-auto w-fit" /> -->
  </main>
</Layout>

<script>
  document.addEventListener("astro-lottie-loaded", (e) => {
    // Hide Lottie placeholder images when Lottie has loaded
    document.querySelectorAll(".lottie-placeholder").forEach((placeholder) => {
      placeholder.classList.toggle("opacity-0");
    });
  });
</script>
