---
import partition from "lodash/partition";

import Card from "../components/Card.astro";
import Lottie from "../components/Lottie.astro";
// import Spotify from "../components/Spotify.astro";
import Layout from "../layouts/Layout.astro";
import PlaceholderCard from "../components/PlaceholderCard.astro";
import Link from "../components/Link.astro";

const artists = await Astro.glob("../pages/artist/*.mdx");
const [upcomingArtists, pastArtists] = partition(artists, (artist) => {
  const {
    frontmatter: { concertStartAt },
  } = artist;

  return new Date(concertStartAt) > new Date();
});

const byOrder = (a, b) => {
  const aOrder = a.frontmatter.order || 0;
  const bOrder = b.frontmatter.order || 0;
  if (aOrder > bOrder) {
    return -1;
  } else if (aOrder < bOrder) {
    return 1;
  } else {
    return 0;
  }
};
---

<Layout title="mandaljazz 2024" description="Jazzfestivalen i Mandal">
  <main
    class="px-4 sm:px-6 md:px-8 lg:px-16 xl:px-32 space-y-24 py-16 sm:pb-32"
  >
    <div class="max-w-5xl mx-auto flex flex-col items-center gap-8">
      <div class="flex flex-col items-center w-full">
        <div class="relative">
          <Lottie
            name="jazzlaug-med-armer-ut-av-hodet"
            class="absolute max-w-xs w-full h-fit translate-y-[16px] scale-[1.11]"
          />
          <img
            src="/profil/Jazzlaug04.png"
            class="max-w-xs w-full transition-opacity lottie-placeholder"
          />
        </div>
        <h1
          class="-mt-[1px] p-6 text-2xl sm:text-4xl font-display text-center leading-snug bg-dark-blue text-white rounded-xl"
        >
          27.–29. juni 2024
        </h1>
        <h2 class="font-display text-2xl text-center p-6">
          mandaljazz feirer <div class="inline-block skew-y-2 p-2 bg-blue">
            <div class="inline-block -skew-y-2 text-4xl">10 år</div>
          </div>
        </h2>
      </div>
      <div
        class="p-6 md:p-16 bg-blue/30 rounded-xl grid grid-cols-1 md:grid-cols-2 gap-8"
      >
        <h2 class="font-display text-5xl md:col-span-2">Breaking news!</h2>
        <div class="space-y-8">
          <Link
            external
            unstyled
            href="https://cosmopolite.no/program/cosmopolite/2024/april/mandaljazz-10-ar-andreas-roysum-takeover"
            title="mandaljazz 10 år: Andreas Røysum takeover på Cosmopolite 12. april 2024"
            class="group w-fit self-center"
          >
            <img
              src="/cosmopolite-takeover-2024-kvadratisk-1-1.png"
              alt={"mandaljazz 10 år: Andreas Røysum takeover på Cosmopolite 12. april 2024"}
              class="w-full rounded-xl transition-all group-hover:-rotate-1"
            />
          </Link>
        </div>
        <div class="space-y-4 md:self-center">
          <p>
            mandaljazz og Cosmopolite presenterer: Andreas Røysum Ensemble
            fyller Cosmopolite. Extra, extra, read all about it! One night only!
          </p>
          <p>
            I anledning 10-årsjubileet inviterer vi til en liten oppvarmingsøkt
            på Cosmopolite i Oslo <span
              class="inline-block skew-y-2 px-1 bg-blue"
            >
              <span class="inline-block -skew-y-2">12. april 2024</span>
            </span>. Les mer og bestill billetter på
            <Link
              href="https://cosmopolite.no/program/cosmopolite/2024/april/mandaljazz-10-ar-andreas-roysum-takeover"
              title="mandaljazz 10 år: Andreas Røysum takeover på Cosmopolite 12. april 2024"
              external
            >
              cosmopolite.no
            </Link>.
          </p>
          <p>Som vi gleder oss!</p>
          <a
            class={`block w-full sm:w-fit sm:mx-auto py-4 px-4 text-center bg-pink text-white rounded-lg text-sm md:text-xl duration-500 transition-all shadow-solid -translate-y-1 hover:translate-x-1 hover:-translate-y-2 hover:shadow-solid-hover`}
            href="https://cosmopolite.no/program/cosmopolite/2024/april/mandaljazz-10-ar-andreas-roysum-takeover"
            rel="noopener nofollow"
            target="_blank">Kjøp billetter</a
          >
        </div>
      </div>
    </div>
    <div class="mx-auto max-w-5xl space-y-4">
      <h3 class="font-display text-3xl">Artister</h3>
      <ul
        role="list"
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6"
      >
        {
          [...upcomingArtists.sort(byOrder), ...pastArtists.sort(byOrder)].map(
            (artist) => {
              const {
                frontmatter: { title, id, hideFromArtistList },
              } = artist;

              if (hideFromArtistList) {
                return null;
              }

              return <Card href={`/artist/${id}`} title={title} id={id} />;
            }
          )
        }
        <PlaceholderCard title="Kul artist" />
        <PlaceholderCard title="Hippe greier" />
        <PlaceholderCard title="Fine ting" />
        <PlaceholderCard title="Er dét jazz da?" />
      </ul>
    </div>
    <!-- <Spotify
      src="https://open.spotify.com/playlist/3390Fw5R6RjQ7pYgIvTLgr?si=c3193c64b9eb460b"
    /> -->
  </main>
</Layout>

<script>
  document.addEventListener("astro-lottie-loaded", (e) => {
    // Hide Lottie placeholder images when Lottie has loaded
    document.querySelectorAll(".lottie-placeholder").forEach((placeholder) => {
      placeholder.classList.toggle("opacity-0");
    });
  });
</script>
