---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";

const artists = await Astro.glob("../pages/artist/*.mdx");

const byOrder = (a, b) => {
  const aOrder = a.frontmatter.order || 0;
  const bOrder = b.frontmatter.order || 0;
  if (aOrder > bOrder) {
    return -1;
  } else if (aOrder < bOrder) {
    return 1;
  } else {
    return 0;
  }
};
---

<Layout title="mandaljazz 2023" description="Jazzfestivalen i Mandal">
  <main class="space-y-24 px-4 sm:px-24 md:px-48 lg:px-64 pb-16 sm:pb-32">
    <div class="px-4 mx-auto max-w-3xl flex flex-col items-center">
      <div class="flex flex-col items-center w-full">
        <img src="profil/Jazzlaug04.png" class="max-w-xs w-full h-fit" />
        <h1
          class="p-6 text-2xl sm:text-4xl font-display text-center leading-snug bg-pink text-white rounded-xl"
        >
          29. juni – 1. juli 2023
        </h1>
      </div>
    </div>

    <ul
      role="list"
      class="mx-auto max-w-5xl grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6"
    >
      {
        artists.sort(byOrder).map((artist) => {
          const {
            frontmatter: { title, id, tagline, hidden },
          } = artist;

          if (hidden) {
            return null;
          }

          return (
            <Card
              href={`/artist/${id}`}
              title={title}
              id={id}
              subtitle={tagline}
            />
          );
        })
      }
    </ul>
  </main>
</Layout>
