---
import Layout from "../layouts/Layout.astro";

const artists = await Astro.glob("../pages/artist/*.mdx");
---

<Layout
  title="Jazzlaugs Venner // mandaljazz 2024"
  description="Venner av mandaljazz som støtter festivalen"
>
  <main class="px-4 sm:px-12 md:px-24 lg:px-32 py-20 sm:py-24">
    <div class="max-w-5xl mx-auto">
      <img
        src="/sponsor/jazzlaugs-venner.png"
        alt="Jazzlaugs Venner"
        class="w-96 max-w-full mx-auto my-8"
      />
      <ul role="list" class="list-disc mx-auto w-fit text-xl leading-10">
        <li>Aurebekk Gartneri</li>
        <li>Buen Kulturhus</li>
        <li>NorEngros</li>
        <li>Nødings Delikatesse</li>
        <li>Maren AS</li>
      </ul>
    </div>
  </main>
</Layout>
