---
import Layout from "../layouts/Layout.astro";

const artists = await Astro.glob("../pages/artist/*.mdx");
---

<Layout
  title="Jazzlaugs Venner // mandaljazz 2025"
  description="Venner av mandaljazz som støtter festivalen"
>
  <main class="px-4 py-20 sm:px-12 sm:py-24 md:px-24 lg:px-32">
    <div class="mx-auto max-w-5xl">
      <img
        src="/sponsor/jazzlaugs-venner.png"
        alt="Jazzlaugs Venner"
        class="mx-auto my-8 w-96 max-w-full"
      />
      <ul role="list" class="mx-auto w-fit list-disc text-xl leading-10">
        <li>Aurebekk Gartneri</li>
        <li>Buen kulturhus</li>
        <li>NorEngros</li>
        <li>Nødings Delikatesse</li>
        <li>Maren AS</li>
        <li>Mandal Hotel</li>
      </ul>
    </div>
  </main>
</Layout>
