---
import NewsletterSection from "../components/NewsletterSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nyhetsbrev" description="Nyhetsbrev">
  <main>
    <NewsletterSection />
  </main>
</Layout>
