---
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";

import { Image } from "astro:assets";
import BuyTicketsButton from "../components/BuyTicketsButton.astro";
import VenueMap from "../components/VenueMap.astro";
import { imagePathToSrc } from "../utils/images";

const accomodations = [
  { name: "Kjøbmandsgården Hotell", url: "https://www.kjobmandsgaarden.no/" },
  {
    name: "SKAP Hostel Mandal",
    url: "https://www.skapfhs.no/skap-sommerhostel/",
  },
  { name: "Sjøsanden Feriesenter", url: "https://topcamp.no/nb/sjosanden" },
  { name: "Sjøsanden Ferietun", url: "https://www.ferietun.no/" },
  { name: "Tregde Feriesenter", url: "https://tregdeferie.no/" },
  { name: "Hald Pensjonat", url: "https://haldpensjonat.no/" },
  {
    name: "Hatholmen Fyr",
    url: "https://www.hatholmen.no",
  },
  { name: "Mandal Hotel", url: "https://mandalhotel.no/" },
  {
    name: "Ryvingen Fyr",
    url: "https://www.ryvingenfyr.no",
  },
];
---

<Layout
  title="Praktisk info // Mandaljazz 2026"
  description="Praktisk info om Mandaljazz 2026"
>
  <main class="px-4 py-24 sm:px-6 sm:py-40 md:px-8 lg:px-16 xl:px-32">
    <div class="mx-auto max-w-5xl space-y-8">
      <h1 class="text-5xl md:text-7xl">Praktisk info</h1>
      <VenueMap />
      <address class="not-italic">
        <Link
          href="https://goo.gl/maps/faFwNkmTR28gCYRA6"
          external
          title="Keiser Nicolaus gate 8–12, 4515 Mandal"
        >
          Keiser Nicolaus gate 8–12, 4515 Mandal
        </Link>
      </address>
      <div class="grid grid-cols-1 gap-4 md:grid-cols-5">
        <div class="space-y-8 md:col-span-3 lg:col-span-4">
          <h2 class="pt-8 text-3xl">Reise</h2>
          <p>
            Finn reisen til Mandaljazz med <Link
              title="Entur"
              openInNewTab
              external
              href="https://entur.no/reiselenke?stopLabel=Mandal%2C%20Lindesnes&stopLat=58.029357&stopLon=7.460864&transportModes=rail%2Cmetro%2Ctram%2Cbus%2Ccoach%2Cwater%2Ccar_ferry&timepickerMode=departAfter"
              >Entur</Link
            >.
          </p>

          <p>
            Spørsmål om transport?
            <Link
              href="mailto:post@mandaljazz.no"
              title="post@mandaljazz.no"
              openInNewTab>Kontakt oss</Link
            >
            gjerne!
          </p>

          <h2 class="pt-8 text-3xl">Overnatting</h2>
          <p>
            Det finnes flere overnattingsmuligheter i Mandal. Sjekk ut disse for
            mer info.
          </p>

          <ul
            role="list"
            class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3"
          >
            {
              accomodations.map(({ name, url }) => (
                <li>
                  <a
                    class="flex h-full rounded bg-light-green/60 px-6 py-8 text-center shadow-inner transition-all hover:-rotate-1 hover:bg-green hover:text-white"
                    target="_blank"
                    rel="noopener nofollow"
                    href={url}
                  >
                    <div class="m-auto">{name}</div>
                  </a>
                </li>
              ))
            }
          </ul>

          <h2 class="pt-8 text-3xl">Universell utforming</h2>
          <p>
            De fleste av konsertene skjer på vårt festivalområdet eller i vårt
            festivaltelt på Kulturfabrikken.
          </p>
          <p>
            Kulturfabrikken har to handicap-toaletter i første etasje. Det er
            montert rampe for å enkelt komme inn i bygget med rullestol.
            Utendørs i bakgården er det grus, så det kan kanskje være litt mer
            krevende å komme til med rullestol enn på asfalt eller andre
            underlag, men vi har alltid frivillige på jobb som kan bistå ved
            behov slik at rullestolbrukere fint skal komme seg inn i teltet
            eller rundt på området.
          </p>
        </div>
        <div
          class="sticky bottom-4 top-auto flex h-fit flex-col items-end gap-3 space-y-2 md:bottom-auto md:top-24 md:col-span-2 lg:col-span-1"
        >
          <!-- <BuyTicketsButton class="mx-auto w-fit md:mx-0 md:w-48" /> -->
          <!-- <Image
            src={imagePathToSrc("/src/images/profil/frimerke-sykkeltur.png")}
            class="hidden w-48 md:block"
            alt="Frimerke sykkeltur"
          /> -->
        </div>
        <!-- <Image
          src={imagePathToSrc("/src/images/profil/frimerke-sykkeltur.png")}
          class="mx-auto block w-full max-w-sm md:hidden"
          alt="Frimerke sykkeltur"
        /> -->
      </div>
    </div>
  </main>
</Layout>
