---
import Layout from "../layouts/Layout.astro";

const artists = await Astro.glob("../pages/artist/*.mdx");
---

<Layout title="Program | Mandaljazz 2023">
  <main>
    <h1 class="font-display text-5xl">Program</h1>
    <table class="table-auto">
      <thead>
        <tr>
          <th>Artist</th>
          <th>Venue</th>
          <th>Når</th>
        </tr>
      </thead>
      <tbody>
        {
          artists.map((artist) => {
            const {
              frontmatter: { title, id, venue, concertStartAt },
            } = artist;
            return (
              <tr>
                <td>
                  <a href={`/artist/${id}`}>{title}</a>
                </td>
                <td>{venue}</td>
                <td>{concertStartAt}</td>
              </tr>
            );
          })
        }
      </tbody>
    </table>
  </main>
</Layout>
