---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Program | Mandaljazz 2023">
  <main>
    <h1>Program</h1>
    <ul role="list" class="grid-cols-3">
      <Card href="/artist/anja-lauvdal" title="Anja Lauvdal" />
      <Card href="/artist/veslemoy-narvesen" title="Veslemøy Narvesen" />
    </ul>
  </main>
</Layout>
