---
import { Icon } from "astro-icon";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div>
  <button
    class="accordion group flex w-full justify-between rounded-t bg-dark-blue p-4 text-left text-white"
  >
    <span>{title}</span><span
      ><Icon
        class="icon transition-transform group-hover:-translate-y-0.5"
        pack="ion"
        name="chevron-down"
        size={24}
      /></span
    >
  </button>
  <div
    class="h-0 space-y-8 overflow-y-hidden rounded-b bg-dark-blue/10 px-4 transition-all"
  >
    <slot />
  </div>
</div>

<script>
  const accordions = document.querySelectorAll("button.accordion");

  accordions.forEach((accordion) => {
    accordion.addEventListener("click", () => {
      accordion.querySelector(".icon").classList.toggle("rotate-180");
      ["h-0", "h-auto", "py-8"].map((c) =>
        accordion.nextElementSibling.classList.toggle(c),
      );
    });
  });
</script>
