---
import Link from "./Link.astro";
import { Icon } from "astro-icon";

export interface Props {
  previousArtist: {
    frontmatter: { id: string; shortTitle?: string; title: string };
  };
  nextArtist: {
    frontmatter: { id: string; shortTitle?: string; title: string };
  };
}

const { previousArtist, nextArtist } = Astro.props;
---

<div class="flex flex-column gap-4 sm:flex-row sm:justify-between">
  <div class="self-start sm:self-auto flex flex-row gap-1 items-center">
    <Link
      href={`/artist/${previousArtist.frontmatter.id}`}
      title={previousArtist.frontmatter.shortTitle ||
        previousArtist.frontmatter.title}
    >
      <span class="flex flex-row items-center gap-2">
        <Icon
          class="icon group-hover:-translate-y-0.5 transition-transform"
          pack="ion"
          name="play-back-outline"
          size={28}
        />
        {
          previousArtist.frontmatter.shortTitle ||
            previousArtist.frontmatter.title
        }</span
      >
    </Link>
    <img
      src={`/artist/${previousArtist.frontmatter.id}.png`}
      class="w-7 h-7 rounded-full"
    />
  </div>
  <div class="self-end sm:self-auto flex flex-row gap-1 items-center">
    <img
      src={`/artist/${nextArtist.frontmatter.id}.png`}
      class="w-7 h-7 rounded-full"
    />
    <Link
      href={`/artist/${nextArtist.frontmatter.id}`}
      title={nextArtist.frontmatter.shortTitle || nextArtist.frontmatter.title}
    >
      <span class="flex flex-row items-center gap-2"
        >{nextArtist.frontmatter.shortTitle || nextArtist.frontmatter.title}
        <Icon
          class="icon group-hover:-translate-y-0.5 transition-transform"
          pack="ion"
          name="play-forward-outline"
          size={28}
        /></span
      >
    </Link>
  </div>
</div>
