---
import Link from "./Link.astro";
import { Icon } from "astro-icon";

export interface Props {
  previousArtist: {
    frontmatter: { id: string; shortTitle?: string; title: string };
  };
  nextArtist: {
    frontmatter: { id: string; shortTitle?: string; title: string };
  };
}

const {
  previousArtist: {
    frontmatter: { id: prevId, shortTitle: prevShortTitle, title: prevTitle },
  },
  nextArtist: {
    frontmatter: { id: nextId, shortTitle: nextShortTitle, title: nextTitle },
  },
} = Astro.props;
---

<div class="flex flex-column gap-4 sm:flex-row sm:justify-between">
  <div class="self-start sm:self-auto flex flex-row gap-1 items-center">
    <Link href={`/artist/${prevId}`} title={prevShortTitle || prevTitle}>
      <span class="flex flex-row items-center gap-2">
        <Icon
          class="icon group-hover:-translate-y-0.5 transition-transform"
          pack="ion"
          name="play-back-outline"
          size={28}
        />
        {prevShortTitle || prevTitle}</span
      >
    </Link>
    <img
      src={`/artist/${prevId}.png`}
      alt={prevShortTitle || prevTitle}
      class="w-7 h-7 rounded-full"
    />
  </div>
  <div class="self-end sm:self-auto flex flex-row gap-1 items-center">
    <img
      src={`/artist/${nextId}.png`}
      alt={nextShortTitle || nextTitle}
      class="w-7 h-7 rounded-full"
    />
    <Link href={`/artist/${nextId}`} title={nextShortTitle || nextTitle}>
      <span class="flex flex-row items-center gap-2"
        >{nextShortTitle || nextTitle}
        <Icon
          class="icon group-hover:-translate-y-0.5 transition-transform"
          pack="ion"
          name="play-forward-outline"
          size={28}
        /></span
      >
    </Link>
  </div>
</div>
