---
import classNames from "classnames";

export interface Props {
  class?: string;
  isFree?: boolean;
  externalTicketUrl?: string;
  earlyBird?: "left" | "right";
}

const {
  class: extraClasses = "",
  isFree,
  externalTicketUrl,
  earlyBird,
} = Astro.props;
---

<div class={`group relative ${extraClasses}`}>
  {
    earlyBird && (
      <div
        class={classNames("absolute -top-3 z-10 sm:-top-4", {
          "-right-8": earlyBird === "right",
          "-left-8": earlyBird === "left",
        })}
      >
        <div
          class={classNames(
            "transform rounded-full bg-dark-blue px-3 py-1 text-xs font-semibold leading-3 text-white transition-transform duration-500 group-hover:scale-110 sm:text-sm",
            {
              "rotate-12": earlyBird === "right",
              "-rotate-12": earlyBird === "left",
            },
          )}
        >
          <span>Early bird</span>
        </div>
      </div>
    )
  }
  <a
    class="block -translate-y-1 rounded-lg bg-red px-4 py-4 text-center font-display text-sm text-beige shadow-solid transition-all duration-500 hover:-translate-y-2 hover:translate-x-1 hover:shadow-solid-hover md:text-xl"
    href={externalTicketUrl ??
      "https://tikkio.com/events/60317-mandaljazz-2026"}
    rel="noopener nofollow"
    target="_blank">{isFree ? "Reserver gratisbillett" : "Kjøp billetter"}</a
  >
</div>
