---
export interface Props {
  title: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<li class="rounded shadow-xl w-fit h-24 border">
  <a href={href}>
    <h2>
      {title}
    </h2>
  </a>
</li>
