---
export interface Props {
  title: string;
  subtitle?: string;
  href: string;
  id: string;
}

const { href, title, subtitle, id } = Astro.props;

const randomFromList = (values: string[]) => {
  return values[Math.floor(Math.random() * values.length)];
};

const randomBackgroundColor = () => {
  return randomFromList([
    "bg-blue",
    "bg-dark-blue",
    "bg-indigo",
    "bg-orange",
    "bg-pink",
    "bg-black",
  ]);
};
---

<li
  class={`rounded-xl w-full h-96 sm:h-72 bg-cover bg-center bg-no-repeat transition-transform group hover:rotate-1`}
  style={`background-image: url('/artist/${id}.png')`}
>
  <a href={href} class="relative block h-full w-full">
    <h2
      class={`absolute bottom-0 right-0 w-full translate-x-2 translate-y-4 sm:translate-x-4 sm:translate-y-4  text-xl text-white text-center p-4 rounded-xl transition-transform group-hover:-rotate-2 ${randomBackgroundColor()}`}
    >
      {title}
    </h2>
  </a>
</li>
