---
import Sponsors from "./Sponsors.astro";
// @ts-ignore
import { Icon } from "astro-icon";
---

<section>
  <!-- <Sponsors /> -->
  <ul role="list" class="flex flex-row justify-center">
    <li class="inline-flex">
      <a href="https://www.facebook.com/mandaljazz">
        <Icon pack="ion" name="logo-facebook" size={48} /></a
      >
      <a href="https://www.instagram.com/mandaljazz/"
        ><Icon pack="ion" name="logo-instagram" size={48} /></a
      >
    </li>
  </ul>
</section>
