---
import Sponsors from "./Sponsors.astro";
---

<section>
  <Sponsors />
  <ul role="list">
    <li class="">
      <a href="https://www.facebook.com/mandaljazz"> Facebook</a>
      <a href="https://www.instagram.com/mandaljazz/">Instagram</a>
    </li>
  </ul>
</section>
