---
import { Icon } from "astro-icon";

export interface Props {
  className?: string;
  size?: "small" | "medium";
}

const { className, size = "medium" } = Astro.props;

const iconSize = size === "small" ? 16 : 24;
---

<div
  class:list={[
    "flex w-fit flex-row items-center rounded-md bg-pink/80",
    className,
    size === "small" && "gap-0.5 rounded px-1 py-1 text-xs",
    size === "medium" && "gap-2 rounded-md px-2.5 py-1.5",
  ]}
>
  <Icon pack="ion" name="balloon-outline" size={iconSize} />
  Gratis
</div>
