---
export interface Props {
  class?: string;
  id?: string;
}

const { class: extraClasses, id } = Astro.props;
---

<div
  id={id}
  class={`relative header-date h-fit flex gap-2 opacity-0 transition-[opacity,transform] duration-300 ${extraClasses || ""}`}
>
  <div
    class="bg-2026-yellow whitespace-nowrap rounded-lg px-3 py-1 text-xs font-medium text-black"
  >
    9.–11. juli 2026
  </div>
  <div class="absolute -bottom-[9px] -right-3">
    <div
      class="bg-2026-red -rotate-6 transform rounded-full px-2 py-0.5 text-[10px] leading-none text-beige"
    >
      NY DATO
    </div>
  </div>
</div>
