---
import { Image } from "astro:assets";
import { imagePathToSrc } from "../utils/images";
import Spotify from "./Spotify.astro";

export interface Props {
  year: string;
  image: string;
  spotifyUrl?: string;
  flickr?: {
    href: string;
    src: string;
  };
}

const { year, spotifyUrl, image, flickr } = Astro.props;
---

<div class="space-y-8 font-display">
  <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
    <h2
      class={`md:text-center text-8xl md:text-9xl p-4 text-black rounded-lg self-center`}
    >
      {year}
    </h2>
    <div>{spotifyUrl && <Spotify src={spotifyUrl} />}</div>
    <Image
      src={imagePathToSrc(image)}
      class="rounded-lg"
      alt={`Festivalplakat ${year}`}
    />
    <ul class="space-y-4 p-8 text-xl">
      <slot />
    </ul>
  </div>
</div>
