---
import { Icon } from "astro-icon";

export interface Props {
  icon: string;
  flip?: boolean;
  pack?: string;
  type: "yellow" | "orange" | "blue";
}

const { icon, pack, flip, type } = Astro.props;

const backgroundColor = {
  yellow: "bg-yellow",
  orange: "bg-orange",
  blue: "bg-blue",
}[type];
---

<div
  class={`relative ${
    flip ? "-skew-y-2" : "skew-y-2"
  } w-fit flex flex-row ${backgroundColor}`}
>
  <span
    class={`${
      flip ? "skew-y-2" : "-skew-y-2"
    } py-2 px-4 my-2 flex flex-row gap-2 items-center text-lg md:text-xl`}
    ><Icon
      class="icon group-hover:-translate-y-0.5 transition-transform"
      pack={pack || "ion"}
      name={icon}
      size={48}
    /><slot /></span
  >
</div>
