---
import { Icon } from "astro-icon";

export interface Props {
  icon: string;
  flip?: boolean;
  pack?: string;
  type: "yellow" | "orange" | "blue" | "beige";
  fluid?: boolean;
}

const { icon, pack, flip, fluid, type } = Astro.props;

const backgroundColor = {
  yellow: "bg-yellow",
  orange: "bg-orange",
  blue: "bg-blue",
  beige: "bg-beige",
}[type];
---

<div
  class:list={[
    `relative flex w-fit flex-row ${backgroundColor} bg-grainy rounded-lg`,
    fluid ? "w-full" : undefined,
  ]}
>
  <span
    class={`py-2 px-4 my-2 flex flex-row gap-2 items-center text-lg md:text-xl`}
    ><Icon
      class="icon transition-transform group-hover:-translate-y-0.5"
      pack={pack || "ion"}
      name={icon}
      size={48}
    /><slot /></span
  >
</div>
