---
import { Image } from "astro:assets";
import { imagePathToSrc } from "../utils/images";

export interface Props {
  src: string;
  caption?: string;
  attribution?: string;
}

const { src, caption, attribution } = Astro.props;
---

<figure>
  <Image src={imagePathToSrc(src)} alt={caption} class="rounded-t-lg" />
  <figcaption class="flex justify-between rounded-b-lg bg-pink p-4">
    {caption && <span>{caption}</span>}
    {attribution && <span>{attribution}</span>}
  </figcaption>
</figure>
