---
import { Icon } from "astro-icon";
---

<div class="text-md flex w-fit flex-row gap-2 rounded-lg bg-pink p-4">
  <span
    ><Icon
      class="icon transition-transform group-hover:-translate-y-0.5"
      pack={"ion"}
      name={"information-circle-outline"}
      size={24}
    /></span
  ><slot />
</div>
