---
import { Icon } from "astro-icon";
export interface Props {
  href: string;
  title: string;
  external?: boolean;
  openInNewTab?: boolean;
  class?: string;
  unstyled?: boolean;
}

const {
  href,
  external,
  openInNewTab,
  class: extraClasses,
  unstyled,
} = Astro.props;
---

{
  openInNewTab || external ? (
    <a
      href={href}
      class:list={["inline", unstyled ? undefined : "link", extraClasses]}
      rel="noopener nofollow"
      target="_blank"
    >
      {external ? (
        <>
          <slot />{" "}
          <Icon class="inline icon mb-1" pack="ion" name="ios-link" size={24} />
        </>
      ) : (
        <slot />
      )}
    </a>
  ) : (
    <a
      href={href}
      class:list={["inline", unstyled ? undefined : "link", extraClasses]}
      aria-current={Astro.url.pathname === href ? "page" : undefined}
    >
      <slot />
    </a>
  )
}
