---
export interface Props {
  href: string;
  title: string;
  external?: boolean;
}

const { href, external } = Astro.props;
---

{
  external ? (
    <a
      href={href}
      class={"link inline-block"}
      rel="noopener nofollow"
      target="_blank"
    >
      <slot />
    </a>
  ) : (
    <a
      href={href}
      class={"link inline-block"}
      aria-current={Astro.url.pathname === href ? "page" : undefined}
    >
      <slot />
    </a>
  )
}
