---
export interface Props {
  href: string;
  title: string;
  external?: boolean;
  class?: string;
  unstyled?: boolean;
}

const { href, external, class: extraClasses, unstyled } = Astro.props;
---

{
  external ? (
    <a
      href={href}
      class:list={["inline-block", unstyled ? undefined : "link", extraClasses]}
      rel="noopener nofollow"
      target="_blank"
    >
      <slot />
    </a>
  ) : (
    <a
      href={href}
      class:list={["inline-block", unstyled ? undefined : "link", extraClasses]}
      aria-current={Astro.url.pathname === href ? "page" : undefined}
    >
      <slot />
    </a>
  )
}
