---
export interface Props {
  href: string;
  title: string;
  external?: boolean;
  nav?: boolean;
}

const { href, external, nav } = Astro.props;
---

{
  external ? (
    <a
      href={href}
      class={nav ? "nav link inline-block" : "link inline-block"}
      rel="noopener nofollow"
      target="_blank"
    >
      <slot />
    </a>
  ) : (
    <a
      href={href}
      class={nav ? "nav link inline-block px-4 py-2" : "link inline-block"}
      aria-current={Astro.url.pathname === href ? "page" : undefined}
    >
      <slot />
    </a>
  )
}
