---
import { Icon } from "astro-icon";
import Link from "./Link.astro";

export interface Props {
  class?: string;
  navItems: {
    href: string;
    title: string;
  }[];
}

const { class: extraClasses, navItems } = Astro.props;
---

<header class={`relative ${extraClasses}`}>
  <div
    class="absolute w-72 h-72 top-0 -left-32 sm:left-20 md:left-32 lg:left-40 -translate-y-1/2 bg-pink rounded-full"
  >
  </div>
  <div
    class="absolute w-full top-0 left-0 transition-transform duration-700 ease-in-out -translate-y-full bg-pink text-white rounded-lg off-screen-nav-items flex flex-col gap-4 items-center py-24 z-10"
  >
    {
      navItems.map(({ href, title }) => (
        <Link nav href={href} title={title}>
          {title}
        </Link>
      ))
    }
  </div>
  <nav
    class="px-4 flex items-center justify-between gap-10 sticky bg-pink rounded-br-lg text-white z-10"
  >
    <a href="/" class="m-4"
      ><img src="/jazzlaug-white.png" class="w-12 h-auto" /></a
    >
    <button class="hamburger">
      <Icon
        class="group-hover:-translate-y-0.5 transition-transform p-2"
        pack="ion"
        name="menu"
        size={64}
      /></button
    >
  </nav>
</header>

<script>
  const hamburger = document.querySelector("button.hamburger");
  const offScreenNavItemsList = document.querySelector(".off-screen-nav-items");

  hamburger.addEventListener("click", () => {
    ["-translate-y-full", "translate-y-16", "translate-x-0"].map((c) =>
      offScreenNavItemsList.classList.toggle(c)
    );
  });
</script>
