<div class="relative -mt-12 overflow-x-clip md:-mt-12">
  <div
    class="absolute -top-10 left-0 h-40 w-1/2 -translate-y-1/4 animate-up-down-fast rounded-xl bg-dark-blue md:-top-2 md:animate-up-down-medium"
  >
  </div>
  <div
    class="absolute -top-16 left-1/4 h-56 w-1/3 -translate-y-1/4 animate-down-up-fast rounded-xl bg-blue md:-top-8 md:animate-down-up-medium lg:left-[15%]"
  >
  </div>
  <div
    class="absolute -top-16 left-64 h-52 w-1/2 -translate-y-1/4 animate-up-down-fast rounded-xl bg-dark-blue md:-top-8 md:animate-up-down-medium lg:left-72"
  >
  </div>
  <div
    class="absolute -top-16 right-12 h-48 w-1/2 -translate-y-1/4 animate-up-down-medium rounded-xl bg-blue md:-top-8 md:animate-up-down-slow"
  >
  </div>
  <div
    class="absolute -top-16 right-16 h-60 w-1/4 -translate-y-1/4 animate-down-up-fast rounded-xl bg-dark-blue md:-top-8 md:animate-down-up-medium"
  >
  </div>
  <div
    class="absolute -top-16 right-0 h-64 w-1/4 -translate-y-1/4 animate-down-up-medium rounded-xl bg-blue md:-top-8 md:animate-down-up-slow"
  >
  </div>
</div>
