---
---

<div class="max-w-lg mx-auto">
  <iframe
    class="rounded-lg h-[500px]"
    src="https://open.spotify.com/embed/playlist/3390Fw5R6RjQ7pYgIvTLgr?utm_source=generator"
    width="100%"
    height="500"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>
</div>
