---
export interface Props {
  containerClass: string;
}

const { containerClass } = Astro.props;
---

<div class={containerClass}>
  <div class="h-0.5 bg-blue"></div>
  <div class="h-0.5 bg-yellow"></div>
  <div class="h-0.5 bg-orange"></div>
  <div class="h-0.5 bg-pink"></div>
  <div class="h-0.5 bg-indigo"></div>
  <div class="h-0.5 bg-dark-blue"></div>
</div>
