---
export interface Props {
  class?: string;
}

const { class: containerClass } = Astro.props;
---

<div class={containerClass}>
  <div class="h-[8px] bg-2026-teal"></div>
  <div class="h-[8px] bg-2026-lightblue"></div>
  <div class="h-[8px] bg-2026-purple"></div>
  <div class="h-[8px] bg-2026-blue"></div>
  <div class="h-[8px] bg-2026-yellow"></div>
  <div class="h-[8px] bg-2026-red"></div>
  <div class="h-[8px] bg-2026-pink"></div>
  <div class="h-[8px] bg-2026-green"></div>
  <div class="h-[8px] bg-2026-darkblue"></div>
</div>
