---
export interface Props {
  class?: string;
}

const { class: containerClass } = Astro.props;
---

<div class={containerClass}>
  <div class="h-[8px] bg-blue"></div>
  <div class="h-[8px] bg-yellow"></div>
  <div class="h-[8px] bg-red"></div>
  <div class="h-[8px] bg-pink"></div>
  <div class="h-[8px] bg-indigo"></div>
  <div class="h-[8px] bg-dark-blue"></div>
</div>
