---
export interface Props {
  class?: string;
}

const { class: containerClass } = Astro.props;
---

<div class={containerClass}>
  <div class="h-[4px] bg-dark-blue"></div>
  <div class="h-[6px] bg-green"></div>
  <div class="h-[9px] bg-light-green"></div>
  <div class="h-[4px] bg-red"></div>
  <div class="h-[8px] bg-pink"></div>
</div>
