<section>
  <ul role="list">
    <li class="">
      <a href="https://www.facebook.com/mandaljazz">Sponsor 1</a>
      <a href="https://www.instagram.com/mandaljazz/">Sponsor 2</a>
    </li>
  </ul>
</section>
