---
export interface Props {
  type: "dark-blue" | "blue";
  title: string;
  flip?: boolean;
}

const { type, title, flip } = Astro.props;

const backgroundColor = {
  "dark-blue": "bg-dark-blue",
  blue: "bg-blue",
}[type];

const fontColor = {
  "dark-blue": "text-white",
  blue: "text-black",
}[type];
---

<div
  class={`relative ${
    flip ? "-skew-y-2" : "skew-y-2"
  } w-fit flex flex-row ${backgroundColor} bg-grainy mt-16`}
>
  <h2
    class={`${
      flip ? "skew-y-2" : "-skew-y-2"
    } font-display text-3xl p-4 my-2 ${fontColor}`}
  >
    {title}
  </h2>
  <img
    src={`/profil/trompet.png`}
    class={`hidden xl:block absolute w-20 ${
      flip ? "-left-24" : "-right-24 -scale-x-100"
    }`}
    alt="Fargerik hånd som peker på tittelen ved siden av"
  />
</div>
