---
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title="Mandaljazz 2023">
  <main>
    <h1 class="text-4xl">{frontmatter.title}</h1>
    <h2>Tekst: {frontmatter.author}</h2>
    <p>
      {frontmatter.tagline}
    </p>
    <article class="prose">
      <slot />
    </article>
  </main>
</Layout>
